.header {
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 20px;
	justify-content: space-between;
	border-top: 4px solid black;
	border-bottom: 8px solid black;
	border-left: 14px solid black;
}

.logo {
	display: block;
	padding: 20px 0px;
	width: 148px;
	min-width: 148px;
	align-self: center;
}

.logo__image {
	width: 100%;
}

.menu {
	display: flex;
	width: 90%;
	justify-content: space-between;
	border-left: 14px solid black;
	justify-self: end;
}

.menu__list {
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	width: 100%;
}

.menu__item {
	display: flex;
	width: 100%;
}

.menu__link {
	font-family: "Rubic One", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px 10px;
	text-transform: uppercase;
	font-size: 30px;
	transition: background-color 0.3s ease-in-out;
	width: 100%;
	box-shadow:
		4px 4px 0 black,
		-4px -4px 0 black,
		-4px 4px 0 black,
		4px -4px 0 black;
}

.menu__link:hover {
	background-color: #ffff00;
}

.menu__link_active {
	background-color: #ffff00;
	pointer-events: none;
}

.auth {
	display: flex;
}

.auth__button {
	font-size: 30px;
	font-family: "Rubic One", sans-serif;
	background-color: transparent;
	border: none;
	padding: 12px 20px 10px;
	border-left: 4px solid black;
	text-transform: uppercase;
	color: white;
	background-color: black;
	transition: color 0.3s ease-in-out;
}

.auth__button:hover {
	color: #ffff00;
}

@media (width <=1440px) {
	.logo {
		width: 140px;
		min-width: 140px;
		padding: 10px 0px;
	}

	.menu__link {
		font-size: 20px;
	}

	.auth__button {
		font-size: 20px;
	}
}

@media (width <= 1200px) {
	.menu {
		width: 100%;
	}

	.menu__list {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
}

@media (width <= 768px) {
	.logo {
		justify-self: center;
	}

	.header {
		grid-template-columns: 1fr;
	}

	.menu {
		border-top: 4px solid black;
		border-left: none;
		flex-direction: column;
	}

	.auth__button {
		width: 100%;
		padding: 18px 20px 10px;
	}
}
