# Auto detect text files and perform LF normalization
* text=auto
*.yml    text
.gitattributes text
KEY      text
LICENSE* text

# avoid merge conflicts in CHANGELOG
/CHANGELOG.md		merge=union

/.github            export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore

git_ssh text eol=lf
repo text eol=lf
hooks/* text eol=lf
