.list-section:not(:first-of-type) {
	margin-top: 40px;
}

.list-section__title {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 4px solid black;
	padding: 20px 40px 14px;
	position: relative;
}

.list-section__title::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 25px;
	background-color: #ffff00;
	width: 60px;
	height: 45px;
	z-index: -1;
}

.cards-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
	gap: 45px;
	padding: 68px 120px;
}

.card-list__link {
	display: flex;
	height: 100%;
	transition: background-color 0.3s ease-in-out;
}

.card-list__link:hover {
	background-color: black;
}

@media (width <= 1440px) {
	.cards-list {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 40px;
	}

	.list-section__title {
		font-size: 26px;
	}

	.list-section__title::before {
		width: 55px;
		height: 42px;
	}
}

@media (width <= 1024px) {
	.cards-list {
		padding: 68px 40px;
		gap: 30px;
	}
}

@media (width <= 650px) {
	.cards-list {
		padding: 68px 14px;
	}

	.list-section__title {
		padding: 20px 14px 14px;
	}

	.list-section__title::before {
		left: 6px;
	}
}
