.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__title {
	margin-bottom: 24px;
	font-size: 36px;
}

.form__fields {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.form__field-title {
	margin-bottom: 8px;
	font-size: 22px;
}

.form__field-input {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 4px;
	padding: 16px 24px;
	font-family: inherit;
	font-size: 22px;
}

.form__actions {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 8px;
}

.form__reset {
	font-family: "Rubic One", sans-serif;
	background-color: transparent;
	font-size: 20px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	border: none;
	padding: 16px 24px;
	transition:
		color 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
}

.form__reset:hover {
	color: yellow;
	background-color: #000;
}

.form__reset:disabled {
	opacity: 0.9;
	pointer-events: none;
}

.form__reset:hover + .form__submit {
	color: #000;
	background-color: transparent;
}

.form__submit {
	background-color: #000;
	color: #fff;
	font-family: "Rubic One", sans-serif;
	font-size: 20px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	border: none;
	padding: 16px 24px;
	transition:
		color 0.3s ease-in,
		background-color 0.3s ease-in;
}

.form__submit:hover {
	color: yellow;
}

.form__submit:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.form__message {
	margin-bottom: 20px;
}

@media screen and (max-width: 433px) {
	.form__reset {
		font-size: 15px;
		padding: 16px 20px;
	}

	.form__submit {
		font-size: 15px;
		padding: 16px 20px;
	}

	.form__field-title {
		font-size: 18px;
	}

	.form__field-input {
		font-size: 18px;
	}

	.form__title {
		font-size: 28px;
	}
}
